---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <nav class="article-previous fn-clear">
      {% if page.previous %}
      <a class="btn btn-default" class="previous" href="{{ page.previous.url| prepend: site.baseurl | replace: '//', '/'  }}" style="float: left">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
      {% endif %}
      {% if page.next %}
      <a class="btn btn-default" class="next" href="{{ page.next.url| prepend: site.baseurl | replace: '//', '/'  }}" style="float: right">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
      {% endif %}
  </nav>
  {% if site.comments == true and page.comments == true and site.duoshuo != '' %}
      <commemts class="comment">
        {% include duoshuo.html %}
      </comments>
  {% endif %}


</div>
